
@import "utilities/variables";
     /*FOOTER PARA TODAS LAS PAGES*/

footer{
    background-color:$color-lumina;
}

.cajaPie{

    .cajaPie__h4{
        margin-top: 2rem;
        font-family: $tipografia;
        font-weight: 400;
        color: white;
    }
    
    .cajaPie__h6{
        font-family: $tipografia;
        font-weight: 300;
        font-style: italic;
        color: white;
    }

    .cajaPie__mapa{
        margin-top: 2rem;
        width: 200px;
        height: 120px;
        border-radius: 5%;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60%;
    align-items: center;
    padding-bottom: 2rem;
}

.horario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.redes__img{
    height: 2rem;
    width: 2rem;
    margin: 0rem 1rem;

}

.footer{
    margin-top: 2rem;
    padding-bottom: 2rem;
}