
@import "utilities/variables";
     /*FOOTER PARA TODAS LAS PAGES*/

.cajaPie{

    .cajaPie__h4{
        margin-top: 2rem;
        font-family: $tipografia;
        font-weight: 400;
    }
    
    .cajaPie__h6{
        font-family: $tipografia;
        font-weight: 300;
        font-style: italic;
    }

    .cajaPie__mapa{
        margin-top: 2rem;
        width: 150px;
        height: 150px;
        border-radius: 5%;
        box-shadow: rgb(221, 218, 218) 6px 6px;
    }
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60%;
    align-items: center;
}

.horario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redes__img{
    height: 3rem;
    width: 3rem;
    margin: 0rem 1rem;

}

.footer{
    margin-top: 2rem;
    border-top:solid grey 1.5px;
}