/* MAIN INDEX*/


/* CAROUSEL*/

.carousel{
    box-shadow: 1px 4px rgb(221, 218, 218);
}

.carousel-item{
    transition: transform 2s ease, opacity .3s ease-out;
}

.carousel-control-prev-icon{
    width: 6rem;
    height: 6rem;
}

.carousel-control-next-icon{
    width: 6rem;
    height: 6rem;
}

/* AREAS DE ATENCION*/

.card{
    margin: 3rem 1rem;
    width: 18rem;
    height: 18rem;
    background-color:white;
    border-radius: 5%;
    border: $color-lumina solid 4px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    

    .card__caja{
        display: flex;
        justify-content: center;
        align-items: center;
        

        .card__caja__especialidad{
            text-decoration: none;
            font-family: $tipografia;
            font-weight: 200;
            font-size: 2.2rem;
            color:$color-lumina;

        }
    }
}

.card:hover{
    border:$color-lumina solid 4px ;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition-duration: 0.5s;

}

.card__caja__especialidad:hover{
    color: $color-lumina;
    font-style: italic;
    font-weight: 400;
}


.overFlowSection{
    overflow: hidden;
}

.botonTurno{
    color: $color-lumina;
    font-family: $tipografia;
    font-size: 2rem;
    font-style: italic;
    font-weight: 300;
    background-color: white;
    border: 3px solid $color-lumina;
    padding: 2px 8px ;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 5%;
}

.botonTurno:hover{
    background-color: $color-lumina;
    color: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border: 3px solid white;
}
