@import "utilities/functions";


.descripcion{
    font-family:$tipografia;
    color: black;
    text-align: justify;
}

.imgProf{
    display: flex;
    flex-direction: row;
    justify-content:right;
}

.datosProf{
    list-style: none;
    font-family: $tipografia;
    color: $color-lumina;
    text-decoration: none;
    
}