@import "utilities/variables";


.descripcion{
    font-family:$tipografia;
    font-weight: 400;
    font-style: italic;
    color: black;
    text-align: justify;
}

.datosProf{
    list-style: none;
    font-family: $tipografia;
    color: $color-lumina;
    text-decoration: none;
    line-height: 2rem;
    
}